.container {
    height: auto;
    width: 80%;
    padding: 20px;
    margin: 2% 10%;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow:  35px 35px 70px #161616,
                 -35px -35px 70px #505050;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  
}

.left {
    width: 50%;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 20px;
  
}

.left img{
    width: 100%;
}

.right{
    width: 50%;
    padding: 20px;
  
}

.right h1{
    color: white;
}

.right h3{
    color: white;
}

.right p{
    color: white;
}