.container {
  width: 80%;
  margin: 1% 10%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-items: center;
}


.left {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;

}





.img{
  width: 90%;
  margin: 20px;

}

.element{
  height: auto;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left : 1px solid rgba(255,255,255,0.5);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius:15px ;
  backdrop-filter: blur(10px);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 20px;
  margin-bottom: 20px;

}
.element:hover{
  box-shadow: 20px 20px 60px rgba(0,0,0,1);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.238);
  
}


.right{
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  

}
.skills{
  display: flex;
  /* margin: 20px; */
  flex-wrap: wrap; 

}
.skillset{
  height: auto;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left : 1px solid rgba(255,255,255,0.5);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius:15px ;
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
}
.ico{
  margin: 0 5px ;
  padding: 5px;
}

@media screen and (max-width:480px) {
  .container {
      flex-direction: column;
      width: 90%;
      margin: 1% 5%;
    
  }
  .left  {
      width: 100%;
  }
  .right{
      width: 100%;
      margin-left: 0;

  }
  .compRole{
      margin-right: 0px;
  }
  
}