.container {
    /* width: 80%; */
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;

}

  
.left {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* margin-left: 10px; */
  
}


.child{
    /* align-self: flex-start; */
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: azure;
    justify-content: space-between;
}
.compTitle {
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: azure;
    align-self: flex-start;
    padding: 5px 0;
}

.compRole{
    font-size: 15px;
    align-items: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
}
.compRole:last-child{
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
}

.compRole2{
    font-size: 18px;
    color: white;
    margin: 0;
}

.compPara {
    font-size: 17px;
    color: azure;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
}
  
.element{
    height: auto;
    background-position: top right;
	background-repeat: no-repeat;
	background-size: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(145deg, #373737, #2e2e2e);
    box-shadow:  35px 35px 70px #161616,
                 -35px -35px 70px #505050;
    /* border : 1px solid white; */

}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

.intro img{
    
}

.imgBunch{
    width: 30%;

}

.imgBunch img{
    width: 100%;
}

.titleBunch{
    display: flex;
    flex-direction: column;
}

.description{
    padding:0 20px;
    display: flex;
    flex-direction: column;
}

.description button{
    height: 40px;
    font-size: 15px;
    width: 100%;
}

.description ul {
    list-style: None;
    padding:0 10px;
    color: white;
}

.description ul li {
    padding: 10px 0;
}

.butList{
    display: flex;
    flex-direction: column-reverse;
}

.element:hover{
    
}

.moreFalse{
    display: none;
}

.moreTrue{
    /* border: 2px solid white; */
}

.right{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* border: 1px solid white; */
}


@media screen and (max-width:640px) {
    .container {
        flex-direction: column;
        width: 90%;
        margin: 1% 5%;
      
    }

    .intro{
        flex-direction: column;
    }


    .imgBunch{
        width: 100%;
    }

    .left  {
        width: 100%;
        margin-bottom: 8vh;
    }
    .right{
        width: 100%;
        margin-left: 0;

    }
    .compRole{
        margin-right: 0px;
    }
    .compTitle{
        font-size: 22px;
    }
    .compRole{
        font-size: 12px;
    }
    .compPara{
        font-size: 15;
    }
}