.main{
    margin : 40vh 0;
}


.container1 {
    margin: 4% 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: auto;
    padding: 10px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow:  35px 35px 70px #161616,
                 -35px -35px 70px #505050;
    overflow: hidden;
}

.containerTitle{
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0 20px;
    font-size: 40px;
    font-weight: 600;
}


.container {
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
}

.company {
    height: auto;
    width: 49%;
    display: flex;
    flex-direction: column;


}

.child{
    /* align-self: flex-start; */
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: azure;
    justify-content: space-between;
}
.compTitle {
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: azure;
    align-self: flex-start;
    padding: 5px 0;
    font-family: 'Cinzel Decorative', cursive;

}

.compRole{
    font-size: 15px;
    align-items: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
}
.compRole:last-child{
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
}

.compRole2{
    font-size: 15px;
    color: white;
    margin: 10px 0;
    font-family: 'Cinzel Decorative', cursive;

}

.compPara {
    font-size: 15px;
    color: azure;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
    line-height: 22px;
    font-weight: 350;
}
  
.element{
    height: auto;
    background-position: top right;
	background-repeat: no-repeat;
	background-size: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(145deg, #373737, #2e2e2e);
    box-shadow:  35px 35px 70px #161616,
                 -35px -35px 70px #505050;
    /* border : 1px solid white; */

}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

.intro img{
    
}

.imgBunch{
    width: 30%;

}

.imgBunch img{
    width: 100%;
}

.titleBunch{
    display: flex;
    flex-direction: column;
}

.description{
    padding:0 20px;
    display: flex;
    flex-direction: column;
}

.description button{
    height: 40px;
    font-size: 15px;
    width: 100%;
}

.description ul {
    list-style: None;
    padding:0 10px;
    color: white;
}

.description ul li {
    padding: 10px 0;
}

.butList{
    display: flex;
    flex-direction: column-reverse;
}


.moreFalse{
    display: none;
}



@media screen and (max-width:640px) {
    .main{
        margin: 20vh 0;
    }

    .container1{
        margin: 4% 5%;
    }
    .containerTitle{
        font-size: 35px;
        font-weight: 500;
    }

    .container {
        flex-direction: column;
        width: 90%;
        margin: 1% 5%;
      
    }

    .intro{
        flex-direction: column;
    }


    .imgBunch{
        width: 100%;
    }

    .company  {
        width: 100%;
        margin-bottom: 8vh;
    }
    
    .compRole{
        margin-right: 0px;
    }
    .compTitle{
        font-size: 22px;
    }
    .compRole{
        font-size: 12px;
    }

    .description{
        padding: 0;
    }
    .compPara{
        font-size: 15;
    }
}