@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.container {
    margin: 0 10vw;
    margin-top: 20vh;
    height: 70px;
    padding: 0px 30px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow:  35px 35px 70px #161616,
                 -35px -35px 70px #505050;

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    z-index: 999;
    cursor: pointer;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    align-items: center;
    
}

.ico{
    transition: transform .2s;
    margin: 0 20px;
    margin-top: 3px;
}

.ico:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}



@media screen and (max-width:1000px) {
    .container {
        margin-bottom: 10vh;
    }
    .ico{
        transition: transform .2s;
        margin: 0 5px;
        margin-top: 3px;
        padding: 5px;
    }


}