@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.container {
    margin: 0 10vw;
    border-radius: 15px;
    height: 60px;
    padding: 0px 50px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left : 1px solid rgba(255,255,255,0.5);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius:10px ;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    cursor: pointer;
    justify-content: center;

}
.text {
    color: azure;
    font-size: 15px;
    font-weight: 400;
    
}

@media screen and (max-width:480px) {
    .container {
        margin: 0 5vw;
    } 
    
  }