@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #362421;
  background-image: url("/content/svg2.png");
  background-attachment: fixed;
  background-size: cover;
  

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width:880px) {
  html,
body {
  background-image: url("/content/joker_H.jpg");

  

}

}