@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.container {
    margin: 0 10vw;
    height: 70px;
    padding: 0px 30px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow:  35px 35px 70px #161616,
                 -35px -35px 70px #505050;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    cursor: pointer;
    /* margin-bottom: 20px; */

}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}


.item:last-child {
    justify-content: flex-end;
}

.callButton .logo {
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* font-family: 'Cookie', cursive;  */
}


.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem{
    margin: .8em;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.listItem:hover{
    color: rgb(185, 255, 255);
}



@media screen and (max-width:1000px) {
    .container {
        margin: 0 5vw;
        height: 50px;
      }
    .item:nth-child(2) {
        display: none;
    }
    .callButton .logo {
        font-size: 25px;
        font-weight: 300;
    }
}