@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.container {
    margin: 0 10vw;
    border-radius: 15px;
    height: 70px;
    padding: 0px 30px;

    border-top: 1px solid rgba(255,255,255,0.5);
    border-left : 1px solid rgba(255,255,255,0.5);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius:12px ;
    backdrop-filter: blur(15px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    cursor: pointer;
    /* margin-bottom: 20px; */

}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}


.item:last-child {
    justify-content: flex-end;
}

.callButton .logo {
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* font-family: 'Cookie', cursive;  */
}


.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem{
    margin: .8em;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.listItem:hover{
    color: rgb(185, 255, 255);
}



@media screen and (max-width:1000px) {
    .container {
        margin: 0 5vw;
        height: 50px;
        border-radius: 10px;
 
      }
    .item:nth-child(2) {
        display: none;
    }
}