.container {
  /* width: 80%; */
  margin: 2% 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}


.left {
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  flex-wrap: wrap;

}
.title{
  z-index: 0;
  font-size: 20em;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.336);
  margin: 0;
  padding: 0;
  position: absolute;
}

.child{
  /* align-self: flex-start; */
  display: flex;
  font-size: 15px;
  color:azure;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}

.compTitle {
  font-size: 25px;
  color: #ffffff;
  margin: 5px 0px 10px 0px;
  font-family: 'Cinzel Decorative', cursive;
}
.compTitle:hover {
  color: #00ffff;
}

.compRole{
  font-size: 18px;
  margin-right: 1vw;
  align-items: flex-end;
}

.compTimeline{
  font-style: italic;
  font-size: 12px;  
}


.compPara {
  color: azure;
  font-size: 15px;
  line-height: 20px;
  font-weight: 350;

}

.element{
  height: auto;
  border-radius: 0px;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow:  35px 35px 70px #161616,
               -35px -35px 70px #505050;
  width: 25vw;
  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 30px;
  margin-bottom: 20px;

}
.element:hover{
  border-radius: 0px;
  background: linear-gradient(145deg, #373737, #2e2e2e);
  box-shadow:  35px 35px 70px #161616,
               -35px -35px 70px #505050;
  cursor: pointer;
}

.tech{
  display: flex;
  flex-direction: row;
  
}

.ico{
  padding: 2px;
  color: #00ffff;
}

@media screen and (max-width:990px) {
  .container {
      flex-direction: column;
      height: auto;
      width: 90%;
      margin: 1% 5%;
    
  }
  .left  {
      width: 100%;
      margin-right: 0;
  }
  .right{
      width: 100%;
      margin-left: 0;

  }

  .element{
    width: 90vw;
    height: auto;
  }
}

