.container{
    padding: 5px;
    width: 10vw;
    /* border: solid 2px white; */
}

.list{
    list-style: none;
    padding-left: 20px;
    
}

.listItem{
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
}

.listItem img{
    width: 50%;
    transition: transform .2s;
}

.listItem img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
}